    /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.6;
  background: #be1515ff;
  color: #333;
  padding: 10px 60px;
  overflow-x: hidden;
  overflow-y: hidden;


}

/* Navbar */
header {
  padding: 10px 60px;
  margin-bottom: 45px;
  background-color: #16c1ffff;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
    background-color: #dcff16ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #007BFF;
    background-color: #ff1668ff;
}

.logo img {
    height: 140px;
    width: 200px;
    position: relative;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.btn-primary {
  background: #1E90FF;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
  
}

.btn-primary:hover {
  background: #007BFF;
}



/* Hero Section */
.hero {
  display: flex;
  justify-content: center;  /* Conjunto centralizado */
  align-items: center;      /* Alinhado verticalmente */
  gap: 20px;
  min-height: 100vh;
  padding: 60px 100px;
  margin-top: -180px;
  
}


.hero-text {
  flex: 1;
  margin-top:90px
}

.subtitle {
  color: #007BFF;
  font-size: 25px;
  font-weight: 600;
  
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #1a2a4f;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text .description {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  margin-top: 20px;
}

.stats {
  /* background-color: #b90707ff; */
  display: flex;
  gap: 80px;
  margin-top: 120px;
}

.stats div {
  text-align: center;
  font-size: 14px;
  color: #444;
}

.stats strong {
  font-size: 22px;
  color: #1a2a4f;
}

/* Hero Image */
.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 150%;
  height: auto;
}

